body {
	margin: 0;
	display: grid;
	grid-template-rows: max-content 1fr;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

header {
	display: flex;
	justify-content: space-evenly;
	padding: 0.3rem 0;
	width: 100vw;
}

#lambda {
	width: 90%;
	text-align: center;
	font-family: system-ui;
	font-size: large;
	resize: vertical;
}

/* svg {
	margin: .4rem;
} */

svg,
path,
line {
	transition: stroke 0.3s ease, opacity 0.3s ease;
}